<!DOCTYPE html>
<html lang="en">
<head>
    <title>Martin Aquino Digital</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://kombai.github.io/freewall/freewall.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://cdn.emailjs.com/sdk/2.1.0/email.min.js"></script>
    <style>
        body {
            font: 400 15px/1.8 Lato, sans-serif;
            color: #777;
        }

        h3, h4 {
            margin: 10px 0 30px 0;
            letter-spacing: 10px;
            font-size: 20px;
            color: #111;
        }

        .container {
            padding: 80px 60px;
        }

        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.7;
        }

            .person:hover {
                border-color: #f1f1f1;
            }

        .carousel-inner img {
            /*-webkit-filter: grayscale(90%);*/
            /*filter: grayscale(90%);*/ /* make all photos black and white */
            width: 100%; /* Set width to 100% */
            margin: auto;
        }

        .carousel-caption h3 {
            color: #fff !important;
        }

        @@media (max-width: 920px) {
          .navbar-header {
              float: none;
          }
          .navbar-left,.navbar-right {
              float: none !important;
          }
          .navbar-toggle {
              display: block;
          }
          .navbar-collapse {
              border-top: 1px solid transparent;
              box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
          }
          .navbar-fixed-top {
              top: 0;
              border-width: 0 0 1px;
          }
          .navbar-collapse.collapse {
              display: none!important;
          }
          .navbar-nav {
              float: none!important;
              margin-top: 7.5px;
          }
          .navbar-nav>li {
              float: none;
          }
          .navbar-nav>li>a {
              padding-top: 10px;
              padding-bottom: 10px;
          }
          .collapse.in{
              display:block !important;
          }
        }

        .bg-1 {
            background: #2d2d30;
            color: #bdbdbd;
        }

            .bg-1 h3 {
                color: #fff;
            }

            .bg-1 p {
                font-style: italic;
            }

        .bg-2 {
            background: #E0E0E0;
            color: #757575;
        }

            .bg-2 h3 {
                color: #888;
            }

            .bg-2 p {
                font-style: italic;
            }

        .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail p {
                margin-top: 15px;
                color: #555;
                font-size: 10px;
            }

                .thumbnail p strong {
                    font-size: 12px;
                }

        .btn {
            padding: 10px 20px;
            background-color: #333;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
        }

            .btn:hover:enabled, .btn:focus:enabled {
                border: 1px solid #333;
                background-color: #fff;
                color: #000;
            }

        .modal-header, h4, .close {
            background-color: #333;
            color: #fff !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-header, .modal-body {
            padding: 40px 50px;
        }

        .nav-tabs li a {
            color: #777;
        }

        #googleMap {
            width: 100%;
            height: 550px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .navbar {
            font-family: Montserrat, sans-serif;
            margin-bottom: 0;
            background-color: #2d2d30;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }

            .navbar li a, .navbar .navbar-brand {
                color: #d5d5d5 !important;
            }

        .navbar-nav li a:hover {
            color: #fff !important;
        }

        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
        }

        .navbar .navbar-brand {
            padding-top: 8px;
        }

            .navbar .navbar-brand img {
                height: 36px;
                width: 72px;
            }

        .open .dropdown-toggle {
            color: #fff;
            background-color: #555 !important;
        }

        .dropdown-menu li a {
            color: #000 !important;
        }

            .dropdown-menu li a:hover {
                background-color: red !important;
            }

        footer {
            background-color: #2d2d30;
            color: #f5f5f5;
            padding: 32px;
        }

            footer a {
                color: #f5f5f5;
            }

                footer a:hover {
                    color: #777;
                    text-decoration: none;
                }

            footer p {
                letter-spacing: 1px;
            }

        .form-control {
            border-radius: 0;
        }

        textarea {
            resize: none;
        }

        .brick img {
            margin: 0;
            display: block;
            width: 100%;
        }
    </style>
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><img height="36" src="~/Content/mad-header.png" width="72" /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" data-toggle="collapse" data-target=".navbar-collapse.in">HOME</a></li>
                    <li><a href="#photography" data-toggle="collapse" data-target=".navbar-collapse.in">PHOTOGRAPHY</a></li>
                    <li><a href="#graphicdesign" data-toggle="collapse" data-target=".navbar-collapse.in">GRAPHIC DESIGN</a></li>
                    <li><a href="#profile" data-toggle="collapse" data-target=".navbar-collapse.in">PROFILE</a></li>
                    <li><a href="#awards" data-toggle="collapse" data-target=".navbar-collapse.in">AWARDS</a></li>
                    <li><a href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">CONTACT</a></li>
                    <li><a href="https://www.instagram.com/martin_not_here/" target="_blank"><span class="fa fa-instagram" style="font-size: 18px"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Add Google Maps -->
    <div id="googleMap"></div>
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(-33.893925, 151.250437);
            var mapProp = { center: myCenter, zoom: 17, scrollwheel: false, draggable: false, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
            var infowindow = new google.maps.InfoWindow({ content: "95 Ebley Street" });
            infowindow.open(map, marker);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtv13jTsOv9yWNROCdKAGoewDIFU80e44&callback=myMap"></script>
    <!--
    To use this code on your website, get a free API key from Google.
    Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
    -->

    <!-- Footer -->
    <footer class="text-center">
        <a class="up-arrow" href="#home" data-toggle="tooltip" title="TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>www.martinaquinodigital.com</p>
    </footer>

    <script>
        function freewallize(name, size) {
           // var temp = "<div class='cell' style='width:{width}px; height: {height}px; border: black solid 1px'></div>";
            //var w = 1, html = '', limitItem = 9;
            //for (var i = 0; i < limitItem; ++i) {
            //    w = 200 + 200 * Math.random() << 0;
            //    html += temp.replace(/\{height\}/g, 200).replace(/\{width\}/g, w);
            //}
            //$(name).html(html);

            var total = 0;
            var count = 0;
            var max = 0;
            $('.brick').each(function (index, item) {       
                var c = size;
                var h = parseInt($(item).children('a').attr("data-height"));
                var w = parseInt($(item).children('a').attr("data-width"));
                if (h > w) {
                    var v = w / (h / c);
                    $(item).height(c).width(v);
                    total += v;
                    if (v > max)
                        max = v;
                }
                else {
                    $(item).height(h / (w / c)).width(c);
                    total += c;
                }
                count++;
            });

            $(function () {
                var wall = new Freewall(name);
                wall.reset({
                    selector: '.brick',
                    animate: false,
                    cellW: size, //total / count,
                    cellH: 'auto',
                    onResize: function () {
                        wall.fitWidth();
                        //wall.fitHeight();
                    }
                });

                $(".brick img").one("load", function () {
                    wall.fitWidth();
                    //wall.fitHeight();    
                }).each(function () {
                    if (this.complete) $(this).load();
                    });
            });

            //wall.fitWidth();
            // for scroll bar appear;
            //$(window).trigger("resize");
        }       

        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#home']").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });

            freewallize("#freewall1", 250);
            freewallize("#reportWall", 160);
            freewallize("#printWall", 160);

            $("a[rel=photo]").fancybox({
                buttons: ["close"]
            });

            $("a[rel=report], a[rel=print]").fancybox({
                buttons: ["close"]
            });

            emailjs.init("user_W4oMRathYxpVpn1vW2JQa");

            $('#cForm').submit(function () {
                var n = $("#cName");
                var e = $("#cEmail");
                var m = $("#cMessage");
                if (n.val() && e.val() && m.val()) {
                    submitContact(true);
                    emailjs.send("cr8madness", "cr8madness", { "name": n.val(), "email": e.val(), "message": m.val() })
                        .then(function (response) {
                            console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                            submitContact(false);
                        }, function (err) {
                            console.log("FAILED. error=", err);
                            submitContact(false);
                        });
                }
                return false;
            });
        })
    </script>

</body>
</html>

